@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    /*Figcaption color*/
    --figcap-color: gray;
    
    /*Backgrounds*/
    --main-bg-color: #fdf6ee; /*Orginal #FFFEFD*/
    --main-secbg-color: #FFFEFD; /*Orginal white #fdf6ee*/
    --third-background-color: #fdf6ee; /*Not original but this was set first #FDF7EE*/

    /*Background container*/
    --hover-container-color: #c0c0c0;

    /*Shadow color*/
    --main-shadow-color: #797676;
    --second-shadow-color: #00000040;

    /*Border*/
    --main-border-color: #464343;
    --second-border-color: #a39c9c;

    /*Font color*/
    --main-font-color: #1A1A1A;
    --main-secondfont-color: #FFFEFD;

    /*Buttton*/
    --main-button-color: #267f29;
    --main-hoverbutton-color: #0f4911;
    --main-activebutton-color: #3fca44;
    --second-button-color: #c0c0c0;
    --second-hoverbutton-color: #5d5d5d;
    --active-button-color: #34ac38;

    /*Login colors*/
    --main-link-color: #1080BF;

    /*Product color*/
    --main-star-color: #2E2C00;

    /*Menu colors*/
    --main-menubg-color: #eee2d1;
}

body{
    background-color: var(--main-secbg-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
}

#footerWrapper, #headerWrapper{
    background-color: var(--main-bg-color) !important;
}

#headerWrapper{
    box-shadow: 0 0px 6px var(--main-shadow-color);
}

#footerWrapper{
    box-shadow: 0 0px 6px var(--main-shadow-color);
}

.mainSection, #menu, #footer{
    max-width: 1200px;
    margin: 0 auto;
}


.mainSection{
    margin: 1em auto;
    min-height: 70vh;
    padding: 0 1em 1em 1em;
}

.mainHeaderText{
    padding-top: 1em;
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
    border-bottom: 1px solid var(--main-border-color);
}

.button{
    border-radius: 0.5em;
    height: 40px;
    border: none;
    background-color: var(--second-button-color);
    transition: 0.3s background-color;
}

.button:hover{
    background-color: var(--second-hoverbutton-color);
    color: var(--main-secondfont-color)
}
 
.greenButton{
    background-color: var(--main-button-color);
    color: var(--main-secondfont-color);
}

.greenButton:hover{
    cursor: pointer;
    background-color: var(--main-hoverbutton-color);
}

.greenButton:active{
    background-color: var(--main-activebutton-color);
}

.closeText{
    margin: 0.25em 0;
}

/*Menu styling under*/
.svg, .logoContainer>span{
    pointer-events:none;
}

#menu>a>h1{
    margin: 0;
}

#menu{
    padding-top: 0.5em;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    min-height: 60px;
}

/*The logos on the top*/
.logoContainer{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em;
}

.logoContainer, #exit{
    outline: none;
    border: none;
    background-color: transparent;
}

#exit>img{
    width: 100%;
    height: 100%;
}

.topMenuLogo{
    transition: border-color 0.4s linear;
    border-bottom: 1px solid transparent;
}

.topMenuLogo:hover{
    border-color: var(--main-border-color);
}

.logoContainer>span{
    font-size: 12px;
}
.logo{
    height: 30px;
}

#menu>nav{
    display: flex;
    height: 100%;
}

.menuOption, .logoContainer, #menu>a{
    text-decoration: none;
    color: var(--main-font-color);
}

.menuOption{
    font-size: 1.2em;
    padding: 0.25em 0.5em;
    border-bottom: 1px solid transparent;
}

.menuOption:hover{
    cursor: pointer;
    transition: border-color 0.6s linear;
    border-color: var(--main-border-color);
    /*box-shadow: 0 0 2px var(--main-border-color);*/
    /*box-shadow: 2px 2px var(--main-shadow-color);
    /*border-radius: 5px;*/
    /*box-shadow: 0px 2px 3px #564125;*/
}

.logoContainer:hover {
    cursor:pointer;
}

#searchForm>form>input{
    border: none;
    height: 100%;
    background-color: inherit;
    font-size: 1.5em;
}

#searchForm>form>*{
    /*display: inline-block;*/
    height: 1.5em;
}

/*For the search*/
#searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3.5em;
    margin-top: 0.5em;
    width: 100%;
    visibility: hidden;
    max-height: 0;
    background-color: var(--main-menubg-color);
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0 0.5em;
    transition: visibility 0s,0.5s max-height, ease 0.5s;
}

#searchForm>form>label{
    display: none;
}

#searchForm>form{
    max-width: 1200px;
    width: 100%;
}

#searchForm>form>input:focus{
    background-color: var(--main-secbg-color);
}

#searchForm>form>input{
    width: 95%;
}

#search{
    order: 1;
}

#cartMenu{
    order: 2;
}

#profileMenu{
    order: 3;
    position: relative;
}

/*For profile menu*/
#profileMenuOptions{
    position:absolute;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    left: -2.5em;
    width: 300%;
    flex-direction: column;
    z-index: 1;
}

#profileMenuOptions{
    transition: 0s visibility, 0.25s, opacity linear;
}

#profileMenuOptions, #profileMenuOptions>*:first-child{
    border-bottom: 1px solid var(--main-border-color);
    margin: 0 auto;
}

.profileOption{
    background-color: var(--main-menubg-color);
    padding: 0.25em;
}

.profileOption>a{
    text-decoration: none;
    color: var(--main-font-color);
    display: block;
}

.profileOption:hover{
    background-color: var(--main-secbg-color);
    font-weight: 600;
}

#profileTriangle{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--main-border-color);
    margin: 0 auto;
    position: relative;
    top: 1px;
}

@media only screen and (min-width:800px){
    #menu>nav {
        max-width: 50%;
        width: 100%;
    }

    #menu>nav{
        transition: none;
        justify-content: space-evenly;
        align-items: center;
        justify-content:space-around;
        flex-flow: row nowrap;
    }

    .mobileElement{
        display: none;
    }
}

@media only screen and (max-width:800px) {
    #exit{
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
        z-index: 1;
        cursor: pointer;
        padding: 0.25em;
    }

    #menu>nav {
        order: 1;
        width: 0; 
        position: fixed;
        visibility: hidden;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--main-menubg-color);
        overflow-x: hidden;
        padding-top: 60px;;
        flex-flow: column nowrap;
        text-align: right;
    }

    .menuOption{
        padding: 0.5em;
        margin: 0.5em 0 0.5em 0.5em;
        border-bottom: solid 2px var(--second-border-color);
    }

    #search{
        order: 0;
    }
}



/* Footer styling under */
#footer {
    display: flex;
    height: 300px;
    justify-content: space-between;
    padding: 0 1em;
}

#addressFooter, #contactInformation, #companies, .sectionFooter {
    display: flex;
    flex-flow: column nowrap;
}

.sectionFooter{
    justify-content: space-evenly;
    width: 30%;
}

.shortcutFooter:hover, #companies>a:hover{
    cursor: pointer;
    font-weight: bold;
}



.shortcutFooter {
    text-decoration: none;
    color: var(--main-font-color);
    margin-top: 0.3em;
    width: fit-content;
    transition: 0.3s font-weight;
}

#shortcutContainer> h3 {
    margin-bottom: 0em;
    margin-top: 1.8em;
}

#shortcutContainer {
    justify-content: flex-start;
}


.logoSocials {
    width: 40px;
}

#socialContainer {
    margin-top: 1.8em;
}

.rightFooterDiv>a {
    text-decoration: none;
}

.socialLogoContainer>a>img{
    width: 100%;
}
 

/*Donators*/
#fairtradeLogo>a>img,#amnestyLogo>a>img {
    width: 100%;
}

#donators {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
#amnestyLogo {
    width: 70%;
}

#donators>span:first-of-type {
    width: 100%;
    font-weight: 600;
}

#fairtradeLogo {
    width: 25%;
}

/*Companies section */

#companies>a {
    text-decoration: none;
    color: black;
    width: fit-content;
}



#companies>span:first-of-type {
    font-weight: 600;
}

/* Norte Logo */

#footerLogo {
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    color: var(--main-font-color);
    width: 10em;

}

#footerLogo>span:last-of-type {
    align-self: flex-end;
}

#addressFooter>span:first-of-type, #footerLogo>span:first-of-type {
    font-weight: 600;
}

#footerLogo>span:first-of-type{
    font-size: 2em;
}

#contactInformation>a{
    color: var(--main-font-color);
}

@media screen and (max-width:900px){
    #footer {
        flex-flow: column nowrap;
        height: auto;
        align-items: center;
    }    
    .sectionFooter {
        width: 80%;
        padding-top: 1.5em;
    }
    
    

    .sectionFooter> * {
        margin: 0.5em 0;
    }
}

@media screen and (max-width:350px) {
    #menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1em;
    }

    #companyHeader{
        grid-column: 1/5;
        text-align: center;
    }

    .logoContainer{
        margin: 0 auto;
    }

    #hamburgerMenu{
        order: 1;
    }
    #search{
        order: 1;
    }

    #searchForm{
        top: 6.5em;
    }
}

@media screen and (max-width:600px){
    

    #searchForm>form>input{
        width: 80%;
    }
}

/*The animations of the menus.*/
.openSearch{
    max-height: 9999px !important;
    padding: 0.5em 0 !important;
    visibility: visible !important;
    border-color: var(--main-border-color) !important;
    border-bottom: 1px solid var(--main-border-color) !important;
    border-top: 1px solid var(--main-border-color) !important;
    box-shadow: 0 1px 3px var(--main-shadow-color);
}



.openMenu{
    transition: 1s !important;
    visibility: visible !important;
    width: 200px !important;
}

.openProfileMenu{
    visibility: visible !important;
    opacity: 1 !important;
}

.rotatableLogo{
    transition: 0.5s;
}

.rotateLogo{
    transform: rotate(180deg) !important;
}
