body{
    background-color: #FDF7EE;
    max-width: 1200px;
    padding: 0.5em;
    margin: 0 auto;
    font-size: 1rem;
}

.mainSection{
    padding: 0.5em 1em;
}

.button{
    height: 40px;
    border-radius: 10px;
}