.contactUsOption>div>:first-child{
    display: flex;
    font-weight: bold;
    margin-top: 1em;
}


#teacupImage {
    width: 100%;
    margin: 0;
}

figure>figcaption {
    color: var(--figcap-color);
}



#phoneContact>:last-child, #emailContact>:last-child {
    text-decoration: none;
    color: var(--main-font-color);
}

#socialContact{
    margin-top: 2em;
}

#phoneContact>:last-child:hover, #emailContact>:last-child:hover {
    font-weight: bold;
}

.socialLogoContainer {
    width: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.socialLogoContainer>a>img{
    width: 40px;
}

.mainSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
}

.mainHeaderText, #FAQHeader, #FAQContainer {
    grid-column: 1/3;
}



.socialLogoContainer>a>img:hover {
    box-shadow: 0px 0px 4px var(--main-shadow-color);
}

.mainSection>div:last-child:hover{
    background-color: var(--main-secbg-color);
}

.FAQOpener {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.1s font-weight;
}

.FAQOpener > p {
    margin: 0.5em 0;
}

.FAQOpener:hover {
    cursor: pointer;
    font-weight: bold;
}

#FAQContainer {
    border-top: 1px solid var(--main-border-color);
}

.info {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0s visibility, 0.25s max-height;
}

.infoAnimation {
    max-height: 9999px !important;
    visibility: visible !important;
}

.FAQ {
    
    border-bottom: 1px solid var(--main-border-color);
}

.headerThree {
    margin-top: 3em;
}


@media screen and (max-width: 900px){
    .mainSection {
        grid-template-columns: 1fr !important;
    }

    .mainHeaderText, #FAQHeader, #FAQContainer {
        grid-column: 1;
    }
}



