.contactUsOption{
    margin: 0.5em 0;
    
    box-sizing: border-box;
    padding: 0.25em;
    margin: 1.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: white;
    border: 0.1px solid rgba(0, 0, 0, 0.6);
}

.contactUsOption>a{
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    color: black;
}

.contactUsOption:hover{
    background-color: #c0c0c0;
}

.contactUsOption>a>span:first-child{
    font-weight: bold;
}

figcaption{
    color: gray;
}

figure>img{
    width: 100%;
}

div{
    background-color: white;
}


.socialLogoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.socialLogoContainer>a{
    width: 40px;
}

.mainSection>div:last-child:hover{
    background-color: white;
}


