.mainSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1em
}

.mainHeaderText{
    grid-column: 1/3;
    margin: 0;
    
}


#backToProfile{
    width: 10em;
    align-self:flex-end;
    justify-self: right;
    margin-bottom: 2em;
    margin-right: 2em;
    text-decoration: none;
    font-weight: normal;
}

.editForm:last-of-type{
    grid-column: 1/3;
}