#footer {
    display: flex;

}

#pressButton{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.buttonFooter {
    background-color: red;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #FDF7EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 190px;
    margin-bottom: 1em;
    color: black;
    font-weight: 700;
}

.buttonFooter:hover {
    background-color: #eee2d1;
}

.sectionFooter {
    width: 30%;
}

.logoSocials {
    width: 40px;
}

.socialLogoContainer>a>img{
    width: 100%;
}



#footerLogo {
    background-color: red;
}

#donators>a>img {
    width: 10px;
}

#donators>a>img{
    width: 100%;
}


