#footer{
    padding: 2rem 0 0 0;
    border-top: 1px solid black;
    display: flex;
    flex: auto;
    flex-wrap: nowrap; 
    justify-content: space-around;
    align-items: stretch;
}

.logoSocials{
    width: 40px;
}

.logoSupport{
    width: 100px;
}

