.inputForm{
    border-radius: 5px;
    height: 30px;
    font-size: 1em;
}

.submitButton{
    height: 40px;
    font-weight: 600;
    margin: 1em 0 0.5em;
}

.editForm > span {
    font-weight: 600;
}

.formLabel{
    font-size: 1.2em;
    margin-top: 0.75em;
}

.message{
    margin-top: 0.5em;
}

.errorMessage{
    margin-top: 0.5em;
    color: red;
}

.okMessage{
    color: green;
}

.hiddenInput{
    display: none;
}

.formOptions{
    border-radius: 5px;
    height: 30px;
    font-size: 1em;
}

.editButton, #backButton{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    text-decoration: none;
}