

.enter-account-details {
    display: flex;
    flex-flow: column;
}

.mainSection{
    width: 100%;
}

.mainSection> h2 {
    text-align: center;
    font-size: 1.8em;
    width: 100%;
}


.enter-details{
    margin: 0 auto;
    max-width: 500px;
}

.enter-details>a  {
    text-decoration: none;
    font-weight: 600;
    color: var(--main-link-color);
    align-self: center;
    text-align: right;
}


.enter-details{
    display: flex;
    flex-direction: column;
}

form>a  {
    text-decoration: none;
    font-weight: 600;
    color: var(--main-link-color);
    text-align: right;
}

.enter-details>h3 {
    width: fit-content;
    margin: 2rem auto 0 auto;
}

