header{
    border-bottom: 1px solid black;
}

svg, object{
    pointer-events:none;
}

#menu{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 60px;
}

/*The logos on the top*/
.logoContainer{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em;
}

.logoContainer>span{
    font-size: 12px;
}
.logo{
    height: 30px;
}

nav{
    display: flex;
    height: 100%;
}

.menuOption, .logoContainer, #menu>a{
    text-decoration: none;
    color: black;
}

.menuOption{
    font-size: 1.2em;
    padding: 0.25em 0.5em;
}

.menuOption:hover, .logoContainer:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 2px 3px #564125;
    border-radius: 5px;
}

#searchForm{
    border-bottom: 1px solid #564125;
    display: flex;
    flex-wrap: none;
    width: auto;
}

#searchForm>input{
    border: none;
    height: 100%;
    background-color: inherit;
    outline: none;
    font-size: 1.5em;
}

#searchForm>*{
    /*display: inline-block;*/
    height: 1.5em;
}

@media only screen and (max-width:800px) {
    #searchForm{
        display: none;
    }

    .mobileElement{
        display: flex;
    }

    nav{
        width: 0; 
    }

    #exit{
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
        z-index: 1;
    }

    .logoContainer{
        margin: 0 1em;
    }

    .logoContainer>span{
        /*Command under can be added for the text of the logos to disappear when the phone version is*/
        /*display: none;*/
    }

    #menu>nav {
        order: 1;
        width: 0; 
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        /*Egentlige fargen #F2ECE3*/
        background-color: #eee2d1;
        overflow-x: hidden;
        padding-top: 60px;;
        flex-flow: column nowrap;
        text-align: right;
    }

    .menuOption{
        padding: 0.5em;
        margin: 0.5em 0 0.5em 0.5em;
        border-bottom: solid 1px #564125;
    }
}

@media only screen and (min-width:800px){
    #menu>nav {
        max-width: 50%;
        width: 100%;
    }

    nav{
        transition: none;
        justify-content: space-evenly;
        align-items: center;
        justify-content:space-around;
    }

    .mobileElement{
        display: none;
    }
}

@media only screen and (max-width:1200px){
    #searchForm{
        display: none;
        position:absolute;
        width: 98%;
        top: 5em;
    }
}