
.mainSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#setStarRating {
    display: none;
}

#productContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

#product-info {
    align-self: center;
}

#addToCartContainer {
    align-self: center;
    max-width: 350px;
    height: 200px;
    margin: 0 auto;
    width: 100%;
    
}

#product-info{
    margin-bottom: 1em;
}

figure {
    margin: 0;
}

#pictureOfTeaType {
    width: 100%;
}

#descriptionContainer:hover, #ingredientsContainer:hover, #productReviewsContainer:hover {
    font-weight: bold;
    cursor: pointer;
    
}

.Add-to-cart {
    width: 100%;
    height: 45px;
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.Add-to-cart>*{
    width: 100%;
}


.star-rating {
    user-select: none;
    text-decoration: none;
}

.product-info-price {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#price-and-review>.star-rating{
    display: flex;
    align-items: center;
    width: 53%;
}

.inStock{
    height: fit-content;
}

.minus-button, .plus-button, .amount-to-add{
    outline: none;
    background-color: transparent;
    border: none;
}

.amount-to-add {
    height: 30px;
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;

}

.content-container {
    margin-top: 1em;
    padding: 1em;
    background-color: white;
}

.amount-to-add>input, .amount-to-add>button {
    width: 100%;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.logoSocials:hover,  .logoSupport:hover{
    box-shadow: 0px 0px 4px var(--main-shadow-color);
}


.amount-to-add>.num-to-change {
    border-top: 2px solid rgba(0,0,0,0.1); 
    border-bottom: 2px solid rgba(0,0,0,0.1); 
    pointer-events: none;
}

.amount-on-storage {
    text-align: center;
}

.dropdown {
    display: flex;
    flex-flow: column;
    width: 100%;
    border-top: 1px solid var(--main-border-color);
}

.dropdown>div{
    align-items: center;
}

.dropdown>div:first-of-type{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dropdown>img {
    width: 24px;
    height: 24px;
}

.dropdown:hover {
    cursor: pointer;
}

.drop-down-meny li {
    list-style-type: none;
    font-size: 24px;
    font-weight: 600;
}

.drop-down-meny {
    width: 100%;
    display: flex;
    flex-flow: column;
}

#productReviews>h4 {
    font-size: 1.4em;
}

.review-form {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.review-form>span, #productReviews {
    font-weight: 600;
    margin-left: 0.2em;
}


.review-form> button {
    width: 20%;
    height: 40px;
    background-color:  var(--main-button-color);
    border-radius: 10px;
    color: var(--main-secondfont-color);
    font-size: 1em;
}

.review-form> input, .review-form> textarea {
    display: flex;
    width: 85%;
    padding: 6px;
    margin: 5px 0;
    outline: none;
    font-size: large;
}

.card-body > form >button {
    width: 100%;
}

#description {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transition: visibility 0.05s, max-height 0.25s;
}

#ingredients {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transition: visibility 0.05s, max-height 0.20s;  
}

#productReviews, #hiddenReview {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transition: visibility 0.05s, max-height 0.20s;
}

#reviewButton {
    margin-bottom: 20px;
    font-size: 1em;
}

#productReviews{
    margin-bottom: 1em;
}

.last {
    border-bottom: 1px solid black;
}

#price-and-review {
    display: flex;
    justify-content: space-between;
}

.amount {
    display: flex;
    justify-content: space-between;
}

.circle {
    height: 16px;
    width: 16px;
    background-color: var(--main-button-color);
    border-radius: 50%;
    display: inline-block;
}

#relatedProducts{
    border-bottom: 1px solid var(--main-border-color);
    width: 100%;
}

@media screen and (max-width:800px) {
    .mainSection>div{
        width: 100%;
    }
    
    #addToCartContainer, #product-info{
        max-width: none;
        width: 100%;
    }

    #price-and-review>.star-rating{
        width: auto;
    }

    #productContainer {
        grid-template-columns: 1fr;
    }
    
}


.containerAnimation{
    visibility: visible !important;
    max-height: 9999px !important;
}

.instantAnimation {
    transition: visibility 0s, max-height 0s !important; 
    max-height: 9999px !important;
}


