#hidden-filter {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transition: visibility 0.05s, max-height 0.20s;
}

.card-body> form > button {
    width: 100%;
}

#hidden-filter>input {
    margin-top: 1.2em;
    margin-bottom: 1em;
    width: 100%;
    height: 30px;
}

#openTea, #openMug{
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transition: visibility 0.05s, max-height 0.20s; 
}

.closeable>div {
    display: flex;
    justify-content: space-between;
}

.filterOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterOption:hover {
    cursor: pointer;
    font-weight: bold;
}

.filterOption:hover {
    cursor: pointer;
}

#productsWrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1em;
}

.closeable> div> input {
    width: 20px;
    height: 20px;
}

#product-filter {
    border-bottom: 1px solid var(--main-border-color);
    border-top: 1px solid var(--main-border-color);
    height: fit-content;
}

.containerAnimation {
    visibility: visible !important;
    max-height: 9999px !important;
}

.instantAnimation {
    transition: visibility 0s, max-height 0s !important;
    max-height: 9999px !important;
}


@media screen and (max-width: 600px) {
    #productsWrapper{
        grid-template-columns: 1fr;
    }

    #product-filter {
        width: 100%;
        border-bottom: 1px solid var(--main-border-color);
        border-top: 1px solid var(--main-border-color);
    }
      
}