

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background-color: white;
    max-width: 300px;
    height: 400px;
    margin: 2rem 0rem 0 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgb(121, 118, 118);
    text-align: center;
    text-decoration: none;
}

.card:hover {
    cursor: pointer;
    border: 1px solid rgb(158, 150, 150);

}

.card-title {
    margin: 1rem 1rem 0 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.card-description {
    font-size: 1.2rem;
    font-weight: 600;
    color: #464343;
}

.former-price {
    font-size: 1.0rem;
    font-weight: 600;
    color: rgb(70, 67, 67);
    margin: 3rem 9rem 0 0;
    text-decoration: line-through;
    opacity: 90%;
}

.card-pricing {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(216, 13, 13);
    margin: -0.2rem 8rem 0 0;
}

.star {
    margin: 1rem;
    position: relative;

    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.8rem;
    
    border-right:  0.3em solid transparent;
    border-bottom: 0.7em  solid rgb(177, 176, 174);
    border-left:   0.3em solid transparent;

    
    font-size: 1rem;
}

    .star:before, .star:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: 0.6em;
    left: -1em;

    border-right:  1em solid transparent;
    border-bottom: 0.7em  solid rgb(177, 176, 174);
    border-left:   1em solid transparent;

    transform: rotate(-35deg);
}

.star:after {  
    transform: rotate(35deg);
}

.card-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 3rem;
}

.card-header> img {
    width: 150px;
}

.card-info> .former-price {
    font-size: 150%;
}

.card-info > .card-pricing {
    font-size: 200%;
}



.card-info {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

p {
    font-size: 1.4rem;
    color: rgb(58, 56, 56);
    opacity: 95%;
}

.Add-To-Cart {
    width: 100%;
    height: 45px;
    background-color: #267f29;
    border-radius: 0.5rem;
    margin: 2rem 0 0 0;
    color: white;
    font-size: 16px;
}

.Add-To-Cart:hover {
    cursor: pointer;
    background-color: #0f4911;
}

.drop-down-meny li {
    list-style-type: none;
    font-size: 24px;
    font-weight: 600;
}

hr {
    margin-top: 1rem;
}

h3 {
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 1rem;
}

.dropdown {
    display: flex;
    border-top: 1px solid black;
    padding: 1rem 0 1rem 0;
}

.dropdown:hover {
    cursor: pointer;
}

.last {
    border-bottom: 1px solid black;
}

.tea-card-picture {
    width: 150px;
}

.circle {
    height: 20px;
    width: 20px;
    background-color: #267f29;
    border-radius: 50%;
    display: inline-block;
}

.amount-on-storage {
    margin: 1rem 2rem 2rem 0;
}

.stars {
    display: flex;
    justify-content: space-between;
}

.increment-button, .decrement-button {
    width: 2rem;
    background-color: white;
    font-weight: 400;
    font-size: 24px;
    border: none;
} 

.amount-of-product-button {
    width: 4rem;
    background-color: white;
    font-size: 24px;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.ins-dec-button {
    margin-top: 1.5rem;
    height: 2.2rem;
}



