.profileMenuOptions{
    margin: 0.5em 0;
    box-sizing: border-box;
    padding: 0.25em;
    margin: 1.5em 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: white;
    border: 0.1px solid rgba(0, 0, 0, 0.6);
}

.profileMenuOptions>a{
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    color: black;
}

.profileMenuOptions:hover{
    background-color: #c0c0c0;
}

.profileMenuOptions>a>span:first-child{
    font-weight: bold;
}