.profileMenuOptions{
    margin: 0.5em 0;
    box-sizing: border-box;
    padding: 0.25em;
    margin: 1.5em 0;
    box-shadow: 0px 4px 4px var(--main-shadow-color);
    border-radius: 5px;
    background-color: var(--main-secbg-color);
    border: 0.1px solid var(--main-border-color);
}

.profileMenuOptions>a{
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    color: black;
}

.profileMenuOptions:hover{
    background-color: var(--hover-container-color);
}

.profileMenuOptions>a>span:first-child{
    font-weight: bold;
}